---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Markdown from "@astrojs/markdown-component";
import { Icon } from "astro-icon";
import { socialMedia } from "../../utils/navbarItems";
import { mapList } from "../../utils/functions";
import { parseSpotifyUrl } from "../../utils/functions";
import "../../styles/artists.css";

export async function getStaticPaths() {
  const blog = await getCollection("artists");
  return blog.map((artist) => ({
    params: { slug: artist.data.customSlug },
    props: { artist },
  }));
}
const { artist } = Astro.props;
const artist_slug = artist.data.customSlug;

const current_artist = await getCollection("artists");
const artist_data = current_artist.find(
  (artist) => artist.data.customSlug === artist_slug
);
---

<Layout>
  <div class="flex justify-center mx-6 lg:mx-0">
    <div class="w-full lg:w-2/4">
      <div class="underline-hover">
        <a href="/artists" class="flex flex-row gap-x-2">
          <Icon pack="charm" name="arrow-left" className="w-5 " />
          <span class="text-lg">Back</span>
        </a>
      </div>
      <section
        class="grid md:grid-cols-2 md:gap-x-4 lg:grid-cols-2 font-montserrat text-3xl"
      >
        <img
          src={artist_data?.data.image}
          class="object-fit lg:h-[600px] w-full mt-10 object-cover rounded-3xl"
        />
        <section id="basic-info" class="mt-14 lg:mx-10 text-white w-full">
          <h1 class="font-bold">{artist_data?.data.name}</h1>
          <hr class="border-gray-500 my-2" />
          <div class="my-1">
            <span class="text-gray-white font-bold text-sm"
              >{mapList(artist_data?.data.artistType)}</span
            >
          </div>

          <Markdown>
            <section class="prose prose-sm dark:prose-invert">
              {artist_data?.body}
            </section>
          </Markdown>
          <div class="flex flex-row gap-x-2 mt-4 items-center">
            {
              Object.entries(artist_data?.data.socials || {}).map(
                ([platform, url]) => (
                  <a
                    href={url || ""}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="mx-2"
                  >
                    <Icon
                      pack={socialMedia[platform].logoPack}
                      name={socialMedia[platform].logoName}
                      size="1x"
                    />
                  </a>
                )
              )
            }
          </div>
        </section>
      </section>
      <section id="music">
        {
          artist_data?.data.spotify && (
            <section class="mt-4">
              <div class="flex justify-center">
                <hr class="border-gray-500 my-8 w-2/3" />
              </div>
              <div class="text-2xl font-bold text-white">Stream</div>

              <div class="spotify-container">
                <iframe
                  src={`https://open.spotify.com/embed/artist/${parseSpotifyUrl(
                    artist_data?.data.spotify
                  )}?utm_source=generator&theme=0`}
                  class="mt-4 mb-10"
                  width="1000"
                  height="380"
                  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                  loading="lazy"
                />
              </div>
            </section>
          )
        }
      </section>
    </div>
  </div>
</Layout>
