---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

// Get latest blog post

const posts = (await getCollection("news")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
const latestPost = posts[posts.length - 1];
const formatDate = (date: Date) => {
  const options = { year: "numeric", month: "long", day: "numeric" };
  return new Date(date).toLocaleDateString("en-US", options);
};
---

<Layout>
  <body>
    <main class="flex justify-center">
      <div class="mt-10 font-montserrat w-5/12">
        <a class="text-white" href={`news/${latestPost.slug}`}>
          <div class="border border-white/10 rounded-xl w-full pb-10 relative">
            <img src={latestPost.data.heroImage} class="rounded-xl w-full" />
            <h2
              class="text-lg font-bold absolute top-4 left-4 bg-black bg-opacity-50 px-2 py-1 rounded-br-md"
            >
              News
            </h2>
            <div class="flex flex-col mt-4 ml-4 gap-y-10">
              <div>
                <h2 class="text-lg font-bold text-orange-300 u">
                  {latestPost.data.title}
                </h2>
                <h2 class="text-sm">{latestPost.data.description}</h2>
              </div>
              <h2 class="text-xs font-bold">
                {formatDate(latestPost.data.pubDate)}
              </h2>
            </div>
          </div>
        </a>
      </div>
    </main>
  </body>
</Layout>
