---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/global/BaseHead.astro";
import Header from "../components/global/Header.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"news">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        <div class="flex justify-center">
          <div class="mx-4 lg:mx-0 w-full lg:w-1/3">
            {
              heroImage && (
                <img
                  width={720}
                  height={360}
                  src={heroImage}
                  alt=""
                  class="pt-24"
                />
              )
            }
            <h1 class="title text-white font-montserrat font-bold">{title}</h1>
            <FormattedDate
              className="font-bold text-white font-montserrat"
              date={pubDate}
            />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
            <hr />
            <slot />
          </div>
        </div>
      </article>
    </main>
  </body>
</html>
